.Home-logo{
  width: 300px;
  margin-right: 10px;
}

.Home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  width: 100vw;
}

.Home-logo-container{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.Home-menu{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.Home-menu h2{
  cursor: pointer;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px
}

.Home-menu h2:hover{
  color: #fff;
  background-color: #004b5d
  
}
.Home-menu a{
  text-decoration: none;
}

@media (max-width: 960px) {
  .Home-menu {
    flex-direction: column;
  }
  .Home-logo{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  
}