@font-face {
  font-family: "Questrial";
  src: local("Questrial"),
   url("./Assets/Fonts/Questrial/Questrial-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Microgramma";
    src: local("Microgramma D Extended Bold.otf"),
     url("./Assets/Fonts/Microgramma/Microgramma\ D\ Extended\ Bold.otf");
    }
  
  

body {
  margin: 0;
  font-family: "Questrial", sans-serif !important;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Microgramma", sans-serif !important;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  color: #024a59;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (max-width: 1400px){
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 0.8em !important;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.8em;
  }
  h6 {
    font-size: 0.7em;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em !important;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.8em;
  }
  h6 {
    font-size: 0.7em;
  }
}